<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理者画面</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <script src="/js/jquery-3.7.1.slim.min.js"></script>
  <script src="/js/admin.js"></script>
</head>
<body>
<div class="container my-4">
  <h2 class="text-center mb-5">勤怠承認</h2>
  <h3 class="text-center mb-4 attendance-period"></h3>
  <div class="text-center fs-3 text-danger" th:if="${resultMsg != null}" th:text="${resultMsg}"></div>

  <form method="post">
    <div class="row align-items-center">
    <div class="d-flex justify-content-end mb-1 col-12">
      <div class="my-auto">過去月選択：</div>
      <select name="periodOption">
        <option value="">--- 選択してください ---</option>
        <option
            th:each="item : ${periodList}"
            th:value="${item.periodValue}"
            th:text="${item.periodText}"
            th:selected="${periodList} == 'defaultValue'"
        ></option>
      </select>
      <button style="" type="submit" class="btn btn-secondary mx-1 search" th:value="表示">表示</button>
      <input type="hidden" id="year" name="year" th:value="(${data} != null) ? ${data.year} : ''" />
      <input type="hidden" id="period" name="month" th:value="(${data} != null) ? ${data.month} : ''" />
    </div>
    </div>
  </form>

  <form method="post" >
  <div class="row" th:if="${data} != null">
    <div class="col-12 mb-3" style="overflow-x: auto; max-width: 100%;">
      <table class="table table-bordered fixed-width">
        <thead>
        <tr>
          <th rowspan="2" class="text-center align-middle col-1">日付</th>
          <th rowspan="2" class="text-center align-middle col-1">曜日</th>
          <th colspan="2" class="text-center col-2">勤務時間</th>
          <th colspan="2" class="text-center col-2">休日勤務時間</th>
          <th rowspan="2" class="text-center align-middle">実働時間数</th>
          <th rowspan="2" class="text-center align-middle">休日時間数</th>
          <th rowspan="2" class="text-center align-middle col-3">備考</th>
        </tr>
        <tr>
          <th class="text-center">開始</th>
          <th class="text-center">終了</th>
          <th class="text-center">開始</th>
          <th class="text-center">終了</th>
        </tr>
        </thead>
        <tbody>
        <tr class="attendance-tr" th:each="item : ${data.dailyAttendanceList}">
          <td class="text-center align-middle" th:text="${item.month} + '/' + ${item.day}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
          <td class="text-center align-middle" th:text="${item.dayOfWeek}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
          <td class="text-center align-middle " th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')" th:text="${item.startTime}"></td>
          <td class="text-center align-middle " th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')" th:text="${item.endTime}"></td>
          <td class="text-center align-middle " th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')" th:text="${item.startTimeHoliday}"></td>
          <td class="text-center align-middle " th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')" th:text="${item.endTimeHoliday}"></td>
          <td class="text-center align-middle businessday-time" th:text="${item.workHours}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
          <td class="text-center align-middle holiday-time" th:text="${item.workHoursHoliday}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
          <td class="" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')" th:text="${item.comment}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr th:object="${data}">
          <td colspan="6" class="text-center">合計</td>
          <td class="text-center businessday-time-total" th:text="${data.monthlyPeriod.workHoursMonth}" ></td>
          <td class="text-center holiday-time-total" th:text="${data.monthlyPeriod.workHoursMonthHoliday}"></td>
          <td class="text-center"></td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="d-flex justify-content-end col-12" th:if="${data.approval.status} == 0">
      <button style="" type="submit" class="btn btn-primary" name="action" value="approval-update">承認</button>
    </div>
    <div class="d-flex justify-content-end col-12" th:if="${data.approval.status} == 1">
      <button style="" type="submit" class="btn btn-primary" name="action" value="approval-cancel">承認取消</button>
    </div>
    <input type="hidden" th:id="monthlyPeriodFormPeriod" th:name="monthlyPeriodForm.period" th:value="${data.monthlyPeriod.period}" >
  </div>
  </form>
</div>
</body>
</html>