<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>ユーザー画面</title>
</head>
<body>
<p>ユーザー画面</p>
<p th:text="${data.workHoursMonth}"></p>

<!--<form th:action="@{/user}" th:method="post" th:object="${monthlyAttendanceForm}">-->
<form th:method="post" th:object="${data}">
  <label for="work_hours_month"></label><input
    type="text"
    id="work_hours_month"
    th:field="*{workHoursMonth}"
    />
  <br>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>日付</th>
      <th>開始</th>
      <th>終了</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="v, st : *{dailyAttendance}">
      <td>
        <label th:text="${v.date}"></label>
      </td>
      <td>
        <input type="hidden" th:field="*{dailyAttendance[__${st.index}__].date}">
      </td>
      <td>
        <input type="text" th:field="*{dailyAttendance[__${st.index}__].dayOfWeek}">
      </td>
      <td>
        <input type="text" th:field="*{dailyAttendance[__${st.index}__].dayType}">
      </td>
      <td>
        <input type="text" th:field="*{dailyAttendance[__${st.index}__].startTime}">
      </td>
      <td>
        <input type="text" th:field="*{dailyAttendance[__${st.index}__].endTime}">
      </td>
      <td>
        <input type="text" th:field="*{dailyAttendance[__${st.index}__].comment}">
      </td>
    </tr>
    </tbody>
  </table>
  <button type="submit" name="action" value="approval-request">承認依頼</button>
  <button type="submit" name="action" value="save">登録</button>
</form>
</body>
</html>