<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ユーザー画面</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <script src="/js/jquery-3.7.1.slim.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/user.js"></script>
<body>
<div class="container my-4">
  <h2 class="text-center mb-5">勤怠入力</h2>
  <h3 class="text-center mb-4 attendance-period"></h3>

  <div class="row">
    <div class="d-flex justify-content-end mb-1 col-12">
      <a th:attr="href='/user/' + ${data.previousPeriod}" class="btn btn-secondary mx-1">前月</a>
      <a th:attr="href='/user/' + ${data.currentPeriod}" class="btn btn-secondary mx-1">当月</a>
      <a th:attr="href='/user/' + ${data.nextPeriod}" class="btn btn-secondary mx-1">来月</a>
      <input type="hidden" id="year" name="year" th:value="${data.year}" />
      <input type="hidden" id="period" name="month" th:value="${data.month}" />
    </div>
  </div>

  <form method="post">
    <div class="row">
      <div class="col-12" style="overflow-x: auto; max-width: 100%;">
        <table class="table table-bordered fixed-width mb-0">
          <thead>
          <tr>
            <th rowspan="2" class="text-center align-middle col-1">日付</th>
            <th rowspan="2" class="text-center align-middle col-1">曜日</th>
            <th colspan="2" class="text-center col-2">勤務時間</th>
            <th colspan="2" class="text-center col-2">休日勤務時間</th>
            <th rowspan="2" class="text-center align-middle">実働時間数</th>
            <th rowspan="2" class="text-center align-middle">休日時間数</th>
            <th rowspan="2" class="text-center align-middle col-3">備考</th>
          </tr>
          <tr>
            <th class="text-center">開始</th>
            <th class="text-center">終了</th>
            <th class="text-center">開始</th>
            <th class="text-center">終了</th>
          </tr>
          </thead>
          <tbody>
          <tr class="attendance-tr" th:each="item, iterStat : ${data.dailyAttendanceList}" th:object="${data}">
            <td class="text-center align-middle" th:text="${item.month} + '/' + ${item.day}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
            <td class="text-center align-middle" th:text="${item.dayOfWeek}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
            <td class="" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"><input type="text" class="form-control text-center-input businessday-start enter-cancel" th:field="*{dailyAttendanceList[__${iterStat.index}__].startTime}" th:attr="disabled=${item.dayType} != '0'"></td>
            <td class="" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"><input type="text" class="form-control text-center-input businessday-end enter-cancel" th:field="*{dailyAttendanceList[__${iterStat.index}__].endTime}" th:attr="disabled=${item.dayType} != '0'"></td>
            <td class="" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"><input type="text" class="form-control text-center-input holiday-start enter-cancel" th:field="*{dailyAttendanceList[__${iterStat.index}__].startTimeHoliday}" th:attr="disabled=${item.dayType} == '0'"></td>
            <td class="" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"><input type="text" class="form-control text-center-input holiday-end enter-cancel" th:field="*{dailyAttendanceList[__${iterStat.index}__].endTimeHoliday}" th:attr="disabled=${item.dayType} == '0'"></td>
            <td class="text-center align-middle businessday-time" th:text="${item.workHours}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
            <td class="text-center align-middle holiday-time" th:text="${item.workHoursHoliday}" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"></td>
            <td class="" th:classappend="(${item.dayType} == '2' or ${item.dayType} == '3') ? 'bg-custom-holiday' : (${item.dayType} == '1' ? 'bg-custom-sat' : '')"><input type="text" class="form-control enter-cancel" th:field="*{dailyAttendanceList[__${iterStat.index}__].comment}" ></td>
            <td class="otherPostdata" style="display:none">
              <input type="hidden" th:field="*{dailyAttendanceList[__${iterStat.index}__].date}">
              <input type="hidden" th:field="*{dailyAttendanceList[__${iterStat.index}__].month}">
              <input type="hidden" th:field="*{dailyAttendanceList[__${iterStat.index}__].day}">
              <input type="hidden" th:field="*{dailyAttendanceList[__${iterStat.index}__].dayOfWeek}">
              <input type="hidden" th:field="*{dailyAttendanceList[__${iterStat.index}__].holidayName}">
              <input type="hidden" th:field="*{dailyAttendanceList[__${iterStat.index}__].dayType}">
              <input type="hidden" class="businessday-time-post" th:name="'dailyAttendanceList[' + ${iterStat.index} + '].workHours'" th:value="(*{dailyAttendanceList[__${iterStat.index}__].workHours} == '') ? 0.0 : *{dailyAttendanceList[__${iterStat.index}__].workHours}">
              <input type="hidden" class="holiday-time-post" th:name="'dailyAttendanceList[' + ${iterStat.index} + '].workHoursHoliday'" th:value="(*{dailyAttendanceList[__${iterStat.index}__].workHoursHoliday} == '') ? 0.0 : *{dailyAttendanceList[__${iterStat.index}__].workHoursHoliday}">
            </td>
          </tr>
          </tbody>
          <tfoot>
            <tr th:object="${data}">
              <td colspan="6" class="text-center">合計</td>
              <td class="text-center businessday-time-total" th:text="${data.monthlyPeriod.workHoursMonth}" ></td>
              <td class="text-center holiday-time-total" th:text="${data.monthlyPeriod.workHoursMonthHoliday}"></td>
              <td class="text-center"></td>
            </tr>
          </tfoot>
        </table>
      </div>

      <input type="hidden" th:id="monthlyPeriodFormPeriod" th:name="monthlyPeriodForm.period" th:value="${data.monthlyPeriod.period}">
      <input type="hidden" th:id="monthlyPeriodFormWorkHoursMonth" th:name="monthlyPeriodForm.workHoursMonth" th:value="(${data.monthlyPeriod.workHoursMonth} == '') ? 0.0 : ${data.monthlyPeriod.workHoursMonth}">
      <input type="hidden" th:id="monthlyPeriodFormWorkHoursMonthHoliday" th:name="monthlyPeriodForm.workHoursMonthHoliday" th:value="(${data.monthlyPeriod.workHoursMonthHoliday} == '') ? 0.0 : ${data.monthlyPeriod.workHoursMonthHoliday}">

      <div class="col-xl-9 col-sm-8 col-6">
      ・承認依頼は勤怠登録後に行うこと<br />
      ・時間帯は30分単位とする<br />
      ・休憩時間は、12:00～13:00/18:00～18:30/22:00～22:30/2:00～3:00/6:30～7:30で固定とする<br />
      ・休憩時間は、仮眠、私用外出時とする
      </div>
      <div class="text-end justify-content-end col-xl-1 col-sm-2 col-3 order-last mt-3" th:classappend="(${data.approval.status} == '1') ? 'd-none' : ''">
        <button style="" type="submit" class="btn btn-primary text-nowrap" name="action" value="save">登録</button>
      </div>
      <div class="text-end justify-content-end col-xl-2 col-sm-2 col-3 mt-3" th:classappend="(${data.approval.status} == '1') ? 'd-none' : ''">
        <button style="" type="submit" class="btn btn-primary text-nowrap" name="action" value="approval-request">承認依頼</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>